@*//Strongly typed view file: A view that uses the @model expression*@

@model Product //model object declaration
@{
 Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		 <meta name="viewport" content="width=device-width" />
		 <title>Index</title>
	</head>
	<body>
		@Model.Namee
	</body>
</html>